.globalCard {
	width: 250px;
	background-color: #e6a2e0;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	height: 300px;
}
.globalCard img {
	width: 200px;
	height: 250px;
	object-fit: contain;
}
/* img {
	width: 200px;
	height: 300px;
	
} */
.name {
	margin: 10px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}
