ul{
    display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0px;
	padding: 12px;
	background-color:#FF2525;

}


li .nav {
  height: 100px;
  display: flex;
  justify-content: row;
  
}
.nav{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: #030202;
    font-size: 25px;
}
#logo{
    width: 100%;
}
