.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Starjout', arial;
    font-size: 15px;
    
}
.menu-select {
    padding: 6px;
    margin: 10px;
    font-family: 'Starjout';
    font-weight: 100;
}
